.message{
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: normal;
    overflow-wrap: normal;
}

.sent {
    background-color: #007BFF;
    color: white;
    align-self: flex-end; /* 發送的消息靠右 */
    border-bottom-right-radius: 0;
}

.received {
    background-color: #4CAF50;
    color: white;
    align-self: flex-start; /* 接收的消息靠左 */
    border-bottom-left-radius: 0;
}
